body {
    background-color: bisque;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#titulo,
.subtitle,
.post_title {
    color: black;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post_coment {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post {
    background: white;
    padding: 15px;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 15px;
    border-radius: 10px;
}

.imagem_post {
    margin-bottom: 15px;
    width: 100%;
}

.imagem_top {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 100%;
    margin-top: 15px;
}

a {
    text-decoration: line-through;
    color: black;
}

.lista1 {
    list-style-type: none;
    padding-left: 15px;
}

.lista1 li a {
    text-decoration: none;
}